html {}
.tnorm {  color: #444;}.px5right {	margin-right: 5px;
}
.btn_add:before {	content: url("/images/add.ico");
	margin-right: 5px;}

.btn_add {
    margin-left: 130px;	vertical-align: middle;
}

.btn_save:before {	content: url("/images/save.ico");
	margin-right: 5px;
}

.btn_save {    margin-left: 35px;}


.btn_del {	color: #F5F5F5;}

.btn_del:hover {	color: #F5F5F5;
}

.btn_del:before {	content: url("/images/delete.ico");
}



.btn_back {
	padding: 5px;
	padding-top: 20px;
	margin-left: 0px;
}

.btn_back:before {	content: url("/images/back.png");}